<html>
    <head>
        <style>
            h1 {text-align: center; font-size: 100px;font-family: Georgia, serif;}
            h2 {text-align: center;font-size: 60px;font-family: Georgia, serif;}
            h4 {text-align: center;font-size: 40px;font-family: Georgia, serif;}
            p {text-align: center;font-size: 40px;font-family: Georgia, serif;}
            a {font-size: 40px;font-family: Georgia, serif;}
        </style>
    </head>
<body  style="background-color: #f0f7ff;">
    <div id = "THELIST">
        <a href="/submit" style="text-align: left;">Submit a daily activity!</a>
        <a href="/companion" style=" position: absolute; right: 10px;">My Companion</a>
        <div id = "Statistics" style = "text-align: left; font-size:20px;">
            <h3>Total time spent:</h3>
            <p id = "MSM" style = "text-align: left; font-size:20px;"></p>
            <p id = "PH" style = "text-align: left; font-size:20px;"></p>
        </div>

        <h2>My History</h2>
        
    
{% if activities %}
    
        <script>
            const month_names = ["January","February","March","April","May","June","July","August","September","October","November","December"];
            const activity_categories = [["Mindfulness and Stress Managment","#0099ff"],["Physical Health","#ffcc00"],["Nutrition","#00ff00"]];
            var years = [];
            var months = [];
            var days = [];
            var PHtime = 0;
            var MSMtime = 0;
            
        </script>
        {% for activity in activities %}
            <script>
                var year = "{{ activity.date.year }}";
                if (!years.includes(year)){
                    document.getElementById("THELIST").innerHTML += "<h1>"+year+"</h1>";
                    years.push(year);
                    months = [];
                    days = [];
                }

                var month = "{{ activity.date.month }}";
                if (!months.includes(month)){
                    document.getElementById("THELIST").innerHTML += "<h2>"+month_names[month-1]+"</h2>";
                    months.push(month);
                    days = [];
                }
                
                var day = "{{ activity.date.day }}";
                if (!days.includes(day)){
                    document.getElementById("THELIST").innerHTML += "<h4>"+day+"</h4>";
                    days.push(day);
                }
                var category = "{{activity.activity_catergory}}";
                var actual_category = "";
                
                for (const label of activity_categories){
                    if (category == label[0]){
                        actual_category = label[0];
                        var color = label[1]; 
                    }
                }
                console.log("{{activity.activity_type}}");
                var minutes = "{{activity.date.minute}}";
                
                if (minutes < 10){
                    minutes = "0"+minutes;
                }
                if (category == "Nutrition"){
                    document.getElementById("THELIST").innerHTML += "<p style='background-color:"+color+"';>"+actual_category+" - {{activity.activity_type}} at {{ activity.date.hour}}:"+minutes+"</p>";
                }else{
                    document.getElementById("THELIST").innerHTML += "<p style='background-color:"+color+"';>"+actual_category+" - {{activity.activity_type}} at {{ activity.date.hour}}:"+minutes+" for {{activity.time_spent}} minutes!</p>";
                }
                var time = parseInt("{{activity.time_spent}}");
                if (category == "Mindfulness and Stress Managment"){
                    MSMtime += time;
                }else if (category == "Physical Health"){
                    PHtime += time;
                }
                console.log(category + time);
            </script>
        {% endfor %}
        <script>
            document.getElementById("MSM").innerHTML = "Mindfulness and Stress Management: "+MSMtime; 
            document.getElementById("PH").innerHTML = "Physical Health: "+PHtime; 
        </script>
{% else %}
    <p>No activities recorded yet.</p>
{% endif %}
</div>
    {% load static %}
    <img  style = "display: block;
    width: 20%; display: block;
        margin-left: auto;
        margin-right: auto;
        " src="{% static 'WellnessApplication/avatar3.png' %}" alt="My image">
</body>
</html>