
<head>
    <style>
        a {font-size: 40px;font-family: Georgia, serif;}
    </style>
</head>

<body style="background-color: #f0f7ff;">
    <a href="/logs" style="text-align: left;">View Log</a>
    <a href="/companion" style=" position: absolute; right: 10px;">My Companion</a>

    <div style="text-align: center;">
        <div style="display: inline-block; text-align: left;">
            <h1>Submit an Activity</h1>

            <form action="{% url 'submitdata'%}" method="post">
        
            {% csrf_token %}
            {% if error_message %}<p style="color:red";><strong>{{ error_message }}</strong></p>{% endif %}
        
            <p;><b>Choose Activity Category</b></p>
            <input type="radio" name="activity_category" id="choice 0" value="Mindfulness and Stress Managment">
            <label for="choice 0">Mindfulness and Stress Managment</label><br>
            <input type="radio" name="activity_category" id="choice 1" value="Physical Health">
            <label for="choice 1">Physical Health</label><br>
            <input type="radio" name="activity_category" id="choice 2" value="Nutrition">
            <label for="choice 2">Nutrition</label><br>
        
            <br>
            <br>
        
            <label for="act_comp">Activity Completed:</label><br>
            <input type="text" id="act_comp" name="activity_completed"><br>
        
            <br>
        
            <label for="act_dur">Activity Duration (Minutes):</label><br>
            <input type="number" id="act_dur" name="activity_duration"><br>
        
            <br>
            <center><input type="submit" value="Submit Activity"></center>
            </form>
        </div>
        {% load static %}
        <img  style = "display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;" src="{% static 'WellnessApplication/avatar.png' %}" alt="My image">
        <p>"You're doing great" - Wii Balance Board</p>
    </div>

</body>