<head>
    <style>
        a {font-size: 40px;font-family: Georgia, serif;}
    </style>
</head>

<body style="background-color: #f0f7ff;">
    <a href="/logs" style="text-align: left;">View Log</a>
    <a href="/companion" style=" position: absolute; right: 10px;">My Companion</a>

    <center>
        <h1>Your Activity has been submitted!</h1>
        <a href="/submit">Submit Another Activity?</a>
    </center>
    <br>
    <br>
    {% load static %}
    <img  style = "display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;" src="{% static 'WellnessApplication/avatar4.png' %}" alt="My image">
</body>